walls/
nvim/spell
nvim/plugin
tmux/plugins
fish/completions
fish/conf.d
fish/functions
fish/fish_variables
fish/secrets.fish
pi/agent/auth.json
pi/agent/auth*.json
pi/agent/mcp-oauth/
pi/agent/sessions/
/emacs/elpa
/emacs/transient
/emacs/url/
/emacs/recentf
/emacs/projects
/emacs/places
/emacs/auto-save-list
/emacs/eshell
/emacs/tramp
